h1 {
  font-size: 2.0em;
  color: #6e7396;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #505050;
    alignment: center;
}

nav a {
  margin: 2px 2px 2px 2px;
  text-decoration: none;
  display: inline-block;
  background-color: #505050;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #ffffff;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
  border: solid;
  border-color: #000000;
}
