<h1>{{title}}</h1>
<nav>
    <a routerLink="/home" routerLinkActive="active">Главная</a>
    <a routerLink="/agencylist" routerLinkActive="active">Агенства</a>
    <a routerLink="/sourcestock" routerLinkActive="active">Источники данных</a>
</nav>
<router-outlet></router-outlet>