button {
    font-family: Arial;
    background-color: #649614;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #64c814;
}
button.delete-button{
    float:right;
    background-color: gray !important;
    color:white;
}