<h2>{{title}}</h2>
<label>Агенство:</label>
<select [(ngModel)]="selectedAgency" (ngModelChange)="onChangeAgency($event)">
    <option value="all" selected>ВСЕ</option>
    <option *ngFor="let agencyVer of agencyList" [value]="agencyVer.agency.codA"  >{{agencyVer.nameRu}}</option>
</select>
<label>Название:</label><input [(ngModel)]="filters.name" (ngModelChange)="onChangeName($event)"/>
<div>
    <button (click)="addNew()">Добавить</button>
</div>
<table class="sourcestock">
    <thead>
        <tr>
            <th>Код</th>
            <th>Имя</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sourcestock of sourcestockList" (click)="onSelect(sourcestock)" [class.selected]="sourcestock === selectedSourcestock">
            <td>{{sourcestock.codSS}}</td>
            <td>{{sourcestock.nameRu}}</td>
            <td>{{sourcestock.dBeg | date: 'dd.MM.yyyy'}}</td>
            <td>{{sourcestock.dEnd | date: 'dd.MM.yyyy'}}</td>
        </tr>
    </tbody>
</table>
<my-pageable [pageable]="myPage" (nextPage)="onNextPage($event)" (prevPage)="onPrevPage($event)"></my-pageable>