
<div class="sourcestock-form"  *ngIf="sourcestock">
    <div><label>Код:</label>{{sourcestock.codSS}}</div>
    <div>
        <label>Имя:</label><input [(ngModel)]="sourcestock.nameRu"/>
    </div>
    <div>
        <label>Полное имя:</label><input [(ngModel)]="sourcestock.fullNameRu"/>
    </div>
    <div>
        <label>Примечание:</label><input [(ngModel)]="sourcestock.descriptionRu"/>
    </div>
    <div>
        <label>Дата начала:</label>
        <datepicker-input [selDate]="sourcestock.dBeg" (returnDate)="onSelDateBegin($event)">Дата начала</datepicker-input>
    </div>
    <div>
        <label>Дата окончания:</label>
        <datepicker-input [selDate]="sourcestock.dEnd" (returnDate)="onSelDateEnd($event)" >Дата окончания</datepicker-input>
    </div>
    <div>
        <label>Агенство:</label>
        <select [(ngModel)]="selectedAgency" (ngModelChange)="onChangeAgnecy($event)">
            <option *ngFor="let agencyVer of agencyList" [value]="agencyVer.agency.codA"  >{{agencyVer.nameRu}}</option>
        </select>
    </div>
    <div>
        <label>Ссылка:</label><input [(ngModel)]="sourcestock.connectionURL"/>
    </div>

    <div>
        <label>Пользователь:</label><input [(ngModel)]="sourcestock.usrLogin"/>
    </div>
    <div>
        <label>Пароль:</label><input type="password" [(ngModel)]="sourcestock.usrPassword"/>
    </div>

    <button (click)="saveSourcestock()">Сохранить</button>
    <button (click)="goBack()">Назад</button>

</div>