<i class="fa fa-calendar fa-lg" (click)='openDatePicker()'></i>
<div class="wp-calendar-container" [style.display]="showDp">
<table class="wp-calendar" >
    <caption>
        <i class='fa fa-arrow-circle-left' style='float:left' (click)='setPrevMonth()'></i>
        <label>{{currMonth}} {{currYear}}</label>
        <i class='fa fa-arrow-circle-right' style='float:right' (click)='setNextMonth(this)'></i>
    </caption>
    <thead>
        <tr>
            <th *ngFor="let day of daysofWeek">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let date of dates">
            <td *ngFor="let d of date" (click)='setDate(d)'
                [class.disabled]='d.disabled'
                [class.selDate]='d.selected'
                [class.empty]='d.empty'>{{d.date}}</td>
        </tr>
    </tbody>
</table>
</div>
