<h2>{{title}}</h2>
<button (click)="addNew()">Добавить</button>

<table class="agency">
    <thead>
        <tr>
            <th>Код</th>
            <th>Имя</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let agency of agencyList" (click)="onSelect(agency)" [class.selected]="agency === selectedAgency">
            <td>{{agency.agency.codA}}</td>
            <td>{{agency.nameRu}}</td>
            <td>{{agency.dateBegin | date: 'dd.MM.yyyy'}}</td>
            <td>{{agency.dateEnd | date: 'dd.MM.yyyy'}}</td>
        </tr>
    </tbody>
</table>
<my-pageable [pageable]="myPage" (nextPage)="onNextPage($event)" (prevPage)="onPrevPage($event)"></my-pageable>