.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.agency {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100em;
}
.agency li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.agency li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.agency li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.agency .text {
    position: relative;
    top: -3px;
}
.agency .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
.error {color:red;}

.agency thead th {
    font-size: 10px;
    padding: 5px 0;
    color: white;
    border: 1px solid #bbbbbb;
    background: #4146fa;
    background: -webkit-gradient(linear, left top, left bottom, from(#4146fa), to(#4146fa));
    background: -moz-linear-gradient(top,  #4146fa,  #4146fa);
    text-align: center;
}

.agency tbody tr {
    color: #666;
    cursor: pointer;
    padding: 8px;
    text-align: left;
    font-weight: normal;
    border: 1px solid;
    border-color: #fff #bbbbbb #bbbbbb #fff;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eee));
    background: -moz-linear-gradient(top,  white,  white);
}
.agency tbody tr:hover {
    color: white;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    border: 1px solid;
    border-color: #fff #bbbbbb #bbbbbb #fff;
    background: #555555;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#555555));
    background: -moz-linear-gradient(top,  #555555,  #555555);
}

.agency tbody td {
    color: #666;
    cursor: pointer;
    padding: 8px;
    text-align: left;
    font-weight: normal;
    border: 1px solid;
}

.agency tbody td:hover {
    color: white;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    border: 1px solid;
    border-color: #fff #bbbbbb #bbbbbb #fff;
    background: #555555;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#555555));
    background: -moz-linear-gradient(top,  #555555,  #555555);
}
