<div class="agency-form"  *ngIf="agencyVer">
    <div><label>Код:</label>{{agencyVer.agency.codA}}</div>
    <div>
        <label>Имя:</label>
        <input [(ngModel)]="agencyVer.nameRu" placeholder="Имя"/>
    </div>
    <div>
        <label>Полное имя:</label>
        <input [(ngModel)]="agencyVer.fullNameRu" placeholder="Полное имя"/>
    </div>
    <div>
        <label>Дата начала:</label>
        <datepicker-input [selDate]="agencyVer.dateBegin" (returnDate)="onSelDateBegin($event)">Дата начала</datepicker-input>
    </div>
    <div>
        <label>Дата окончания:</label>
        <datepicker-input [selDate]="agencyVer.dateEnd" (returnDate)="onSelDateEnd($event)" >Дата окончания</datepicker-input>
    </div>
    <div>
        <label>Примечание:</label>
        <input [(ngModel)]="agencyVer.descriptionRu" placeholder="Примечание"/>
    </div>
    <div>
        <label>Комментарий:</label>
        <input [(ngModel)]="agencyVer.cmtRu" placeholder="Комментарий"/>
    </div>
    <hr>
    <div>
        <label>Примечание (агенство):</label>
        <input [(ngModel)]="agencyVer.agency.descriptionRu" placeholder="Примечание"/>
    </div>
    <div>
        <label>Комментарий (агенство):</label>
        <input [(ngModel)]="agencyVer.agency.cmtRu" placeholder="Комментарий"/>
    </div>

    <button (click)="saveAgency()">Сохранить</button>
    <button (click)="goBack()">Назад</button>
</div>