<div class="my-pageable">
    <span class="bage" (click)="prevPageClick()"> пред </span>
    <span *ngIf="pageable">Страница: {{pageable.number}}</span>
    <span class="my-pageeable-next" (click)="nextPageClick()"> след </span>
</div>